body {
    background: #fff; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.modal-lg { max-width: 80% !important; }


.container-title {
    color: #0382aa;
    text-align: center;
    font-size: 75px;
}

h1 {
    animation: mover-izq 2s;
}

@keyframes mover-izq{
    from{
        transform: translateX(-1000px);
    }
}

h2 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.us-paragrahp_1 {
    margin-top: 43px;
    margin-left: 150px;
    margin-right: 150px;
    overflow: hidden;
    padding: 25px ;
    color: #fff;  
    animation: mover-der 2s;
    text-justify: auto;
    background: #0382aa;
    border-radius: 15px;
}

.us-paragrahp_2 {
    margin-top: 43px;
    margin-left: 150px;
    margin-right: 150px;
    overflow: hidden;
    padding: 25px ;
    color: #039ecf;
    animation: mover-izq 2s;
    text-justify: auto;
}

@keyframes mover-der {
    from{
        transform: translateX(1000px);
    }
}

.h2_about_1 {
    color: #fff;
}

.h2_about_2 {
    text-align: right;
    color: #039ecf;
}

/* seccion tarjetas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-1{
    margin: 10px ;
    height: 60px;
    width: 200px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    display: grid;
    place-content: center;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
 }

.card_desc {
    text-align: center;
    padding: 5px 25px;
    color: #039ecf;
}

.container-card {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card_p {
    width: 310px;
    padding: 20px;
    box-shadow: 2px 2px 5px black;
    border: solid #8000b200 2px;
    border-radius: 10px;
    background-color: #fff;

}

.card_name img {
    width: 120px;
    border-radius: 50%;
    box-shadow: 2px 5px 5px black;
}

.card_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #039ecf;
}

hr{
    width: 100%;
    height: 4px;
    background: #343a40;
    margin: 20px 5px;
}

.card_name h2 {
    color: #039ecf;
}
