* {
    box-sizing: border-box;
}


.container {
    margin:0 auto;
    overflow: hidden;
}




.add {
    width: 88%;
    text-align: left;
    background: -webkit-linear-gradient(bottom right, rgb(22, 157, 225, 0.972) 40%, rgba(255, 255, 255, 0.75)60%);  
    margin-top: 7.5%;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 5px #000;  

}




.input {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: 2px solid #343a40;
    outline: none;
    margin-bottom: 21px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #000;
    background-color: rgba(255, 255, 255, 0.681);
}




.input-container {
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    border: none;
}




.titulo_1 {
    font-size: 40px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.815);
    /* margin-right: 75px; */
    width: 100%;
}




img{
    width:12%;
    
}


p#texto{
    text-align: center;
    color: white;
    font-size:21px;
    padding:10px;
}




div#div_file{
    position: relative;
    margin-top: 2px;
    width: 100%;
    background: #00bfff;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #000;
}

input#btn_file{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 3px;
}
@media(max-width: 767px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 135px;
        width: 100px;
    }
}


@media(max-width: 553px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 125px;
        width: 100px;
    }
}

@media(max-width: 500px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 120px;
        width: 100px;
    }
}

@media(max-width: 475px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 100px;
        width: 100px;
    }
}

@media(max-width: 450px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 90px;
        width: 100px;
    }
}

@media(max-width: 420px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 85px;
        width: 100px;
    }
}

@media(max-width: 400px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 73px;
        width: 100px;
    }
}

@media(max-width: 375px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 63px;
        width: 100px;
    }
}

@media(max-width: 360px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 55px;
        width: 100px;
    }
}

@media(max-width: 280px){
    img{
        vertical-align: middle;
        border-style: none;
        margin-right: 1000px;
        margin-left: 30px;
        width: 100px;
    }

    .titulo_1 {
        font-size: 40px;
    }
}

/* @media(max-width: 1199px)
{
    .titulo_1{
        margin-right:65px;
    }
}


@media(max-width: 991px)
{
    .titulo_1{
        margin-right: 45px;
    }
} */

