/*Formulario con CSS y Bootstrap*/
   /* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*/
   
   * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: rgb(4, 149, 181);
    color: black;
    background-image: url(http://localhost/Error-404/img/productos/27/principal.jpg);
  }

  .formulario {
    width: 1000px;
    margin: auto;
    max-width: 100%;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0px 0px 15px #252525;
    position: relative;
  }

  .formulario_titulo {
    text-align: center;
    margin-top: 0;
    color:  rgb(0 196 239);
  }

  .formulario_input, .formulario_label, .formulario_submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.785);
    font-family: sans-serif;
  }
  
  .formulario_input {
    padding: 5px;
    border: 1px solid #aaa;
    color: #aaa;
    margin-bottom: 40px;
    background: #3D464D;
    outline:none;
  }
  
  .formulario_input:focus{
    border: 1px solid #fff;
    color: #fff;
  }

  .form-select {
    height:40px; 
    width:960px; 
    background:#3D464D; 
    color:#aaa; 
    border:1px solid #aaa;
    outline: none;
  }
  
  .formulario_option {
    background:#3D464D; 
    color:#fff;
  }
  
  .formulario_precio{
    background: #3D464D;
    color: #aaa;
    border:1px solid #aaa;
    display: block;
    width: 96%;
    outline: none;
    border: 1px solid #aaa;
    padding: 5px;
  }
  
  .formulario_precio:focus{
    border: 1px solid #fff;
    color: #fff;
  }

  .form-select::backdrop{
    border-radius: 1px solid #00bfff;
  }

  .formulario_label {
    padding-left: 15px;
    position: absolute;
    margin-top: -109px;
    z-index: -20px;
    transition: all 0.3s;
    color: rgba(4, 149, 181, 0.73);
    animation: shake 0.3s;
  }

  .formulario_submit {
    background: transparent;
    color: rgba(4, 149, 181, 0.73);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
  }

  .formulario_input:focus + .formulario_label {
    margin-top: -175px;
  }

  .fijar {
    margin-top: -135px;
  }

  .formulario_f {
    padding-left: 15px;
    position: absolute;
    margin-top: -29px;
    z-index: -20px;
    color: rgba(4, 149, 181);
    font-family:sans-serif;
    font-size:1.3vw;
  }

  .formulario_g {
    padding-left: 15px;
    position: absolute;
    margin-top: -33px;
    z-index: -20px;
    color: rgba(4, 149, 181);
    font-family:sans-serif;
    font-size:1.3vw;
  }
  
p#texto{
  text-align: center;
  color: white;
  font-size:21px;
  padding:10px;
}

div#div_file{
  position: relative;
  margin-top: 2px;
  width: 100%;
  background: #00bfff;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #000;
}

input#btn_file{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border-radius: 3px;
}

@media(max-width: 767px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 135px;
      width: 100px;
  }
}

@media(max-width: 553px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 125px;
      width: 100px;
  }
}

@media(max-width: 500px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 120px;
      width: 100px;
  }
}

@media(max-width: 475px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 100px;
      width: 100px;
  }
}

@media(max-width: 450px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 90px;
      width: 100px;
  }
}

@media(max-width: 420px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 85px;
      width: 100px;
  }
}

@media(max-width: 400px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 73px;
      width: 100px;
  }
}

@media(max-width: 375px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 63px;
      width: 100px;
  }
}

@media(max-width: 360px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 55px;
      width: 100px;
  }
}

@media(max-width: 280px){
  img{
      vertical-align: middle;
      border-style: none;
      margin-right: 1000px;
      margin-left: 30px;
      width: 100px;
  }

  .titulo_1 {
      font-size: 40px;
  }

}
       /* body {
            background:url(../img/fondos/fondoarmas.jpg); 
            background-color: #f0f8ff; /* Azul claro 
        }
        
        
        h2 {
            color: #333;*/ /* Negro 
            text-align: center;
            margin-bottom: 30px;
        }
        
        label 
            color: #333; {*//* Negro 
            font-weight: bold;
        }
        
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 20px;
        }
        
        input[type="submit"] {*/
           /* background-color: #007bff;  Azul claro
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        input[type="submit"]:hover {
            background-color: #0056b3;  *//* Azul oscuro 
        }
    */