.perfil-user .user-body,
.perfil-user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.perfil-user .user-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}


.perfil-user .user-portada {
    display: block;
    position: relative;
    width: 80%;
    height: 17rem;
    background: #0382aa;
    border-radius: 20px;
}


.perfil-user .user-avatar {
   display: flex;
   width: 180px;
   height: 180px;
   align-items: center;
   justify-content: center;
   border: 3px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}


.perfil-user .user-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}


.perfil-user .user-avatar .boton-avatar {
    position: absolute;
    left: -5px;
    top: -5px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
}


.perfil-user .user-body{
    width: 90%;
    box-shadow: 0px 0px 12px #aaa;
}


.perfil-user .user-info,
.perfil-user .user-desc {
    display: block;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    width: 100%;
}


.perfil-user .user-desc {
    margin-bottom: 1.25rem;
    text-align: center;
}


.perfil-user .user-desc h3{
    font-size: 50px;
}


.perfil-user .user-desc p{
    font-size: 20px;
}


.perfil-user .user-datos {
    width: 100%;
}


.perfil-user .user-datos p {
    padding: 5px 0;
    font-size: 25px;
}


.perfil-user .user-datos .boton-editar {
    border: none;
    width: 100px;
    color: white;
    font-size: 18px;
    background: #343a40;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.register-perfil {
    text-align: center;
    background: #0382aa;
    margin-bottom: 25px;
    padding: 5px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
}

#input {
    transition: all 0.3s ease;
}

#input:focus {
    border: 1px solid #00bfff;
}

.div-avatar {
    position: relative;
    margin-top: 2px;
    width: 25%;
    background: #00bfff;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #aaa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-editar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 3px;
}



@media(max-width: 400px){

    .perfil-user .user-desc h3{
        font-size: 40px;
    }
    .perfil-user .user-desc p {
        font-size: 18px;
    }
    .perfil-user .user-datos p{
        font-size: 18px;
    }
    .perfil-user .user-datos .boton-editar{
        width: 45%;
        font-size: 15px;
        padding: 15px 20px;
    } 
}

@media(max-width: 1320px){

    .register-perfil{
        margin-left: 400px;
        margin-right: 400px;
    }
}

@media(max-width: 1100px){

    .register-perfil{
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media(max-width: 750px){

    .perfil-user .user-body{
        width: 80%;
    }
}

@media(max-width: 650px){

    .register-perfil{
        margin-left: 100px;
        margin-right: 100px;
    }

    .perfil-user .user-body{
        width: 70%;
    }
}

@media(max-width: 600px){

    .perfil-user .user-body{
        width: 60%;
    }
}

@media(max-width: 520px){

    .perfil-user .user-body{
        width: 50%;
    }
}

@media(max-width: 450px){

    .perfil-user .user-body{
        width: 40%;
    }
}

@media(max-width: 420px){

    .register-perfil{
        margin-left: 40px;
        margin-right: 40px;
    }
}

  


