/*
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }*/
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
  .material-symbols-rounded {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    color: var(--icon);
    font-size: 3.5rem;
    transform: translate(1px, 1px);
  }
  
  :root {
    --icon: #333;
    --color-light: rgba(10, 10, 10, 0.2);
    --linear-gradient-lightest: linear-gradient(
      135deg,
      rgba(3, 3, 3, 0.4) 0%,
      #e5e5e5 70%
    );
    --linear-gradient-light: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.53) 0%,
      #e0e0e0 60%
    );
  }
 
  
  html {
    box-sizing: border-box;
    font-size: 70%;
  }
  
  body {
    box-sizing: inherit;
    font-family: "Inter", sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33.78rem);
    justify-content: center;
  
  }
  
  .card {
    color: #222222;
    overflow: hidden;
    border-radius: 1.6rem;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1fr;
    position: relative;
    transition: all 0.3s;
  }
  .card__img {
    transition: transform 0.2s;
    display: block;
    width: 110%;
    overflow: hidden;
  }
  .card__img-filter {
    width: 100%;
    height: 50rem;
    background-color: var(--color-light);
    top: 0;
    position: absolute;
  }
  .card__text {
    display: grid;
    grid-template-rows: min-content 1fr 1fr min-content;
    position: relative;
    z-index: 100;
    padding: 0 2.4rem 1.5rem;
  }
  .card__header {
    margin-bottom: 1.3rem;
    font-weight: bold;
    font-size: 2.9rem;
  }
  .card__details {
    font-size: 1.4rem;
  }
  .card__price {
    align-self: center;
    display: flex;
    align-items: center;
  }
  .card__price div {
    border-radius: 100%;
    background-color: var(--color-light);
    width: 6.1rem;
    height: 6.1rem;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .card__button {
    display: flex;
    align-items: center;
    margin-top: auto;
    overflow: hidden;
    justify-content: center;
    border-radius: 12rem;
    text-decoration: none;
    padding: 0.6rem;
    transform: translate(0.6rem, 0.6rem);
    justify-self: end;
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    color: #222222;
    transition: transform 0.2s ease-out;
  }
  .card__button > span {
    position: relative;
    z-index: 5;
    background-color: var(--color-light);
    border-radius: 12rem;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
  }
  .card__button > span span {
    font-size: 4rem;
    transform: translate(1.2rem, 0);
    transition: transform 0.2s ease-out;
    padding-left: 1rem;
    color: #222222;
  }
  .card__button > div {
    background-color: var(--color-light);
    position: absolute;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    transform: scale(0);
    transition: transform 0.5s ease-out;
  }
  .card__button:focus > span span, .card__button:active > span span {
    transform: translate(2rem, 0);
  }
  .card__background-1, .card__background-2, .card__background-3 {
    border-radius: 100%;
    transform: translate(-16%, 28%);
    position: absolute;
    height: 56.8rem;
    width: 56.8rem;
  }
  .card__background-1 {
    background-image: linear-gradient(135deg, #fdfdfd 0%, #eaeaea 100%);
    z-index: 3;
  }
  .card__background-2 {
    background-image: var(--linear-gradient-light);
    transform: translate(-19.5%, 25.5%);
    z-index: 2;
  }
  .card__background-3 {
    background-image: var(--linear-gradient-lightest);
    transition: transform 0.3s;
    transform: translate(-23.3%, 21.7%);
    z-index: 1;
  }
  
  .card:hover .card__background-3 {
    transform: translate(-23.3%, -10.7%);
  }

  
  .card--aqua {
    --icon: #01becf;
    --color-light: rgba(0, 234, 255, 0.2);
    --linear-gradient-light: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.5) 0%,
      #00ccff 100%
    );
    --linear-gradient-lightest: linear-gradient(
      135deg,
      rgba(0, 247, 255, 0.25) 0%,
      #e5e5e5 100%
    );
  }
  
  /*