.comentarios {
    margin: 20px 0;
}

.form_comentarios textarea {
    width: 100%;
    height: 54px;
    max-width: 100%;
    min-width: 100%;
    min-height: 54px;
    max-height: 300px;
    padding: 10px;
    line-height: 30px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
    outline: none;
}

.form_comentarios textarea:focus {
    border: 1px solid #00bfff;
    box-shadow: 0px 0px 12px #bfbfbf;
}

.form_comentarios .btn {
    background: #00bfff;
    border-radius: 0;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form_comentarios .btn:hover {
    box-shadow: 0px 0px 9px rgba(0,0,0,.55);
}

.media {
    border-top: 1px solid #bfbfbf;
    padding-top: 20px;
}

.media img{
    margin-right: 20px;
    border-radius: 50%;
}

.media .nombre {
    color: #aaa;
    margin-bottom: 0;
}

.media .botones {
    margin-bottom: 10px;
}

.media .botones a {
    color: #acacac;
    font-size: 14px;
    margin-left: 20px;
}

.carousel-item .active img:hover {
    box-shadow:0px 0px 12px #aaa;
}

.imagen {
    width: 100%;
    height: 90%;
    overflow: hidden;
    margin: 20px;
}

.imagen img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.imagen img:hover {
    transform: scale(1.1);
}

.containerImagen{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.imgFluid {
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
}

.text::first-letter {
    font-size: 50px;
    color: #00bfff;
    font-weight: 700;
}